---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  name: addresspools.metal.harvesterhci.io
spec:
  group: metal.harvesterhci.io
  names:
    kind: AddressPool
    listKind: AddressPoolList
    plural: addresspools
    singular: addresspool
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: AddressPoolStatus
      type: string
    - jsonPath: .status.startAddress
      name: StartAddress
      type: string
    - jsonPath: .status.lastAddress
      name: LastAddress
      type: string
    - jsonPath: .status.netmask
      name: NetMask
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AddressPool is the CRD for maintaining Aaddress pools for Harvester
          nodes and VIP's
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              cidr:
                type: string
              gateway:
                type: string
              netmask:
                type: string
              reservedAddresses:
                items:
                  type: string
                type: array
            required:
            - cidr
            - gateway
            type: object
          status:
            properties:
              addressAllocation:
                additionalProperties:
                  properties:
                    kind:
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - kind
                  - name
                  - namespace
                  type: object
                type: object
              availableAddresses:
                type: integer
              lastAddress:
                type: string
              netmask:
                type: string
              startAddress:
                type: string
              status:
                type: string
            required:
            - addressAllocation
            - availableAddresses
            - lastAddress
            - netmask
            - startAddress
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
