---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: inventories.metal.harvesterhci.io
spec:
  group: metal.harvesterhci.io
  names:
    kind: Inventory
    listKind: InventoryList
    plural: inventories
    singular: inventory
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: InventoryStatus
      type: string
    - jsonPath: .status.generatedPassword
      name: GeneratedPassword
      type: string
    - jsonPath: .status.pxeBootConfig.address
      name: AllocatedNodeAddress
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Inventory is the Schema for the inventories API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: InventorySpec defines the desired state of Inventory
            properties:
              baseboardSpec:
                description: BaseboardManagementSpec defines the desired state of
                  BaseboardManagement
                properties:
                  connection:
                    description: Connection represents the BaseboardManagement connectivity
                      information.
                    properties:
                      authSecretRef:
                        description: AuthSecretRef is the SecretReference that contains
                          authentication information of the BaseboardManagement. The
                          Secret must contain username and password keys.
                        properties:
                          name:
                            description: name is unique within a namespace to reference
                              a secret resource.
                            type: string
                          namespace:
                            description: namespace defines the space within which
                              the secret name must be unique.
                            type: string
                        type: object
                      host:
                        description: Host is the host IP address or hostname of the
                          BaseboardManagement.
                        minLength: 1
                        type: string
                      insecureTLS:
                        description: InsecureTLS specifies trusted TLS connections.
                        type: boolean
                      port:
                        default: 623
                        description: Port is the port number for connecting with the
                          BaseboardManagement.
                        type: integer
                    required:
                    - authSecretRef
                    - host
                    - insecureTLS
                    - port
                    type: object
                required:
                - connection
                type: object
              events:
                properties:
                  enabled:
                    type: boolean
                  pollingInterval:
                    default: 1h
                    type: string
                required:
                - enabled
                type: object
              managementInterfaceMacAddress:
                type: string
              primaryDisk:
                type: string
            required:
            - baseboardSpec
            - events
            - managementInterfaceMacAddress
            - primaryDisk
            type: object
          status:
            description: InventoryStatus defines the observed state of Inventory
            properties:
              conditions:
                items:
                  properties:
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    startTime:
                      format: date-time
                      type: string
                    type:
                      type: string
                  required:
                  - startTime
                  - type
                  type: object
                type: array
              generatedPassword:
                type: string
              hardwareID:
                type: string
              ownerCluster:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              pxeBootConfig:
                properties:
                  address:
                    type: string
                  gateway:
                    type: string
                  nameServers:
                    items:
                      type: string
                    type: array
                  netmask:
                    type: string
                type: object
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
